/*
Theme Name: ELO eSports
Theme URI: http://eloesports.com
Author: Daniel Cueto
Author URI: http://dcueto.me
Description: Tema personalizado exclusivamente para la página de eloesports.com
Version: 1.0
*/

@import "fonts.styl"
@import 'icons.styl'
@import 'video-list.styl'

html
  margin 0
  padding 0
  font-family 'Roboto', sans-serif

body
  margin 0
  padding 0
  background white !important
  text-align center
  
#more_posts
  width 200px
  border 1px solid lightgrey
  border-radius 3px
  padding 10px 0
  margin 0 auto
  margin-top 20px
  cursor pointer

.main-header
  position fixed
  width 100%
  height 50px
  z-index 10
  box-shadow 0px 0px 5px black
  background-color #103F86
  .header-left
    width 60px
    height 100%
    position absolute
    z-index -1
    background-color #0e4cab
    display flex
    align-items center
    cursor pointer
    justify-content center
    
    .menu-icon
      font-size 30px
      color white
      width 50%
  
  .nav-mobile
    position absolute
    top 50px
    width 90%
    height 100vh
    background-color #1b1c25
    left -100%
    overflow-y auto
    //display none
    &-title
      text-align left
      color white
      margin-left 15px
      width 90%
      border-bottom 1px solid darkgrey
      padding-bottom 7px
    .nav, .nav-mobile-container
      position relative
      width 100%
      ul
        display flex
        flex-direction column
        align-items flex-start
        justify-content center
        padding 0
        margin-left 20px
        li
          width 90%
          list-style none
          color white
          height auto
          text-align left
          margin 5px
          margin-bottom 10px
          font-size 17px
          a
            text-decoration none
            color white
            &:hover
              color cornflowerblue
      
      
    
  .wrap-header
    height 100%
    width 85%
    margin 0 auto
    display flex
    justify-content space-between
    display none
    
    .nav
      display none
      background-color #103F86
      color #103F86
      width 100%
      align-items center
      //margin-left 40px
      .menu
        display flex
        list-style none
        align-items center
        margin-left 5px
        padding 0
        ul
          margin 0
          display flex
          
        li
          margin 0 20px
          font-size 18px
          font-weight 500
          list-style none
          a
            text-decoration none
            color white
            padding-bottom 10px
            //text-transform uppercase
          :hover
            color lightgrey
            opacity .8
    
    .social
      width 200px
      height 100%
      display flex
      justify-content flex-end
      align-items center
      position absolute
      right 0
      a
        margin 0 4px
        text-decoration none
        :hover
          color lightgrey
      &-icon
        font-size 18px
        color white
        width 20%
        padding 7px
        //border 1px solid white
        //border-radius 50%
  
  .logo
    display none
    overflow hidden
    width 220px
    //background-color #333333
    flex-shrink 0
    //display flex
    //align-items center
    a
      display flex
      align-items center
      height 100%
      text-decoration none
      color white
    figure
      width 33px
      height 33px
      margin 0
      margin-right 3px
      img
        width 100%
    &-title
      display none
      margin 0
      font-weight 600
      font-size 27px
      //margin-right 20px
      font-family 'Brandon Grotesque'
      letter-spacing 2px
    canvas
      display none
  

.container
  color white
  padding-top 45px
  background-color white
  margin-bottom 30px
  /*.banner
    width 100%
    height 350px
    background-image url('img/bg-halcyon.jpg');
    position absolute
    z-index 0*/
  .click-block
    width 100%
    height 100vh
    background black
    opacity 0.6
    z-index 1
    position fixed
    left -100%
    display none

.featured
    width 100%
    height 250px
    overflow hidden
    margin 0 auto 10px auto
    background black
    .featured-category
      position absolute
      padding 2px 8px
      background-color #4444bd
      top -12px
      font-family 'Roboto'
      font-size 14px
      font-weight 500
      text-transform uppercase
    .featured-title
      //text-transform uppercase
      margin-right 10px

    &-main
      height 100%
      width 100%
      &-article
        height 100%
        position relative
        &-image
          height 100%
          img
            height auto
            width 100%
        &-bottom
          position absolute
          bottom 0
          width 100%
          //height 20%
          background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
          text-align left
          font-size 26px
          font-family 'Roboto Condensed'
          font-weight normal
          p
            padding-top 20px
            //position absolute
            //bottom 0
            margin 0 0 15px 10px
    &-secondary
      display none
      height 217px
      a
        width 100%
      &-article
        width 100%
        height 100%
        overflow hidden
        position relative
        &-image
          height auto
          img
            width 100%
            height auto
        &-bottom
          position absolute
          bottom 0
          
    figure
      margin 0
    a
      color white


.wrap
  color black
  display flex
  justify-content center
  flex-direction column
  
  .section-title
    text-align left
    font-size 30px
    font-family 'Dosis'
    padding-left 10px
    border-left 3px solid #144794
    margin-left 8px

.featured-articles
  display flex
  justify-content center
  flex-direction column
  margin-bottom 30px
.article-wrapper
  //width 95%
  margin 0 5px
  display flex
  flex-direction column
  align-items flex-start
  .article
    margin-bottom 15px
    flex-shrink 0
    min-height 130px
    max-height 450px
    overflow hidden
    //margin 5px
    text-align left
    border 1px solid lightgrey
    width 100%
    position relative
    border-radius 2px
    .blur-bottom
      position absolute
      bottom 40px
      width 100%
      height 40px
      background-image linear-gradient(to bottom, rgba(255,255,255,0) 20%, #FFF 100%)
    a
      text-decoration none
    &-info
      display flex
      justify-content space-between
      padding 7px 0
      font-weight 600
      color #4D4D4D
      font-size 17px
      margin 0 10px
      &-cat
        margin 0
        margin-left 10px
      &-date
        margin 0
        margin-right 10px
      p
        margin 0
    &-thumb
      height 200px
      overflow hidden
    &-content
      text-align left
      padding-bottom 10px
      &-title
        //text-transform uppercase
        color #333333
        font-size 27px
        line-height 1.2
        //font-family 'Antonio'
        //font-weight bold
        
        font-family 'Roboto Condensed'
        font-weight 500
        margin-top 0
      &-container
        &-description
          color grey
          height 100%;
    &-author
      width 100%
      height 40px
      display flex
      align-items center
      margin-left 10px
      position absolute
      bottom 0
      background white
      color #4d4d4d
      font-weight 500
      
      span
        margin-right 5px
      
      
    .article-info
      padding 7px 0
      font-weight 600
      color #4D4D4D
      font-size 17px
      &-cat
        margin 0
        margin-left 10px
      &-date
        margin 0
        margin-right 10px
    .article-thumb
      margin 0
      width 100%
      img
        width 100%
        height auto
    .article-content
      margin 8px 10px
      &-container
        &-title
          margin 0
          font-weight 500
          font-size 20px

.videos
  text-align left
  color black
  //padding-bottom 20px
  &-container
    background #252525
    display flex
    height 380px
    //justify-content space-around
    //margin-bottom 30px
    &-article
      width 60%
      height 380px
      //margin 5px
      .videoContainer
        width 100%
        height 100%
        iframe
          width 100%
          height 100%
          
.notfound
  color #3f3f3f
  h2
    color #3f3f3f
  h1
    font-size 100px
    margin 0
    color #6d6d6d
  
          
footer
  //position absolute
  //bottom 100px
  background-color #1b1c25
  width 100%
  height auto
  color white
  .copyright
    display flex
    justify-content center
    height 50px
    align-items center
    opacity 0.7
    p
      margin 0
      margin-right 20px
    .logo_footer
      width 200px
      height 30px
      a
        display flex
        width 100%
        height 30px
        text-decoration none
        color white
        font-family 'Brandon Grotesque'
        font-weight 600
        font-size 22px
        letter-spacing 3px
        p
          margin 0
        figure 
          width 30px
          height auto
          margin 0
          margin-right 2px
          img
            width 30px
            height auto
    


// Smartphones horizontal

@media screen and (min-width: 640px)
  .featured
    height 350px
    

//Articles

@media screen and (min-width: 730px)

  .article-wrapper
    // display flex
    flex-direction row !important
    flex-wrap wrap
    justify-content center
    .article
      width 100%
      margin 5px 

// Tablets

@media screen and (min-width:800px)
  .featured
    height auto
    flex-direction column
    
    &-main
      height 300px
      overflow hidden
    &-secondary
      display flex
      height 217px
      a
        width 50%
      &-article
        width 100%
        height 100%
        overflow hidden
        &-image
          height auto
          img
            width 100%
            height auto
        &-bottom
          width 100%
          //height 30%
          background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
          text-align left
          font-family 'Roboto Condensed'
          font-size 22px
          letter-spacing -1px 
          p
            padding-top 20px
            //position absolute
            //bottom 0
            margin 0 0 10px 10px
      


// Tablets horizontal

@media screen and (min-width: 950px)
  .featured
    margin-top 20px
    width 95%
    height 332px
    display flex
    flex-direction row !important
    
    &-main
      width 100%
      height 100%
    
    &-secondary
      width 60%
      height 100%
      display flex
      flex-direction column
      a
        width 100%
        height 50%
      &-article
        height 100%
        &-bottom
          font-size 20px
  
  .wrap
    width 95%
    margin 0 auto
  .article-wrapper
    justify-content space-between
    
    .article
      margin 5px 0

// Desktop pequeños

// Desktop

@media screen and (min-width: 1080px) and (max-width: 1149px)

  .wrap-header
    width 930px !important
    display flex !important
    .nav
      display flex !important
    .social
      position static !important
          
  .header-left
    width 50% !important
  
  .logo
    display block !important
    width 50px !important
    //margin-right 5px
    
  .menu-icon
    display none
  

  .featured
    width 930px
    height 347px
    
    &-main
      width 619px
      &-article-bottom
        font-size 28px
    
    &-secondary
      width 309px
      &-article-bottom
        font-size 19px
  
  .wrap
    width 930px
    margin 0 auto
  .article-wrapper
    width 100%
    margin 0 auto
    .article
      margin 0 0 15px 0
      

// Desktop medianos

@media screen and (min-width: 1150px)

  .header-left
    width 50% !important
  
  .wrap-header
    width 1102px !important
    display flex !important
    .nav
      display flex !important
  .menu-icon
    display none
  
  .social
    position static !important
    
  .logo
    display block !important
  .logo-title
    display block !important
  .featured
    width 1102px
    height 410px
    &-main
      width 734px      
    &-secondary
      width 367px
  
  .wrap
    width 1102px
    margin 0 auto
  .article-wrapper
    width 100%
    margin 0 auto
    justify-content flex-start
    .article
      width 355px !important
      margin 5px

// Desktop grandes

@media screen and (min-width: 1440px)
    
    .header-left
      width 50%
      height 100%
      position absolute
      z-index -1
      background-color #333333
    
    .menu-icon
      display none
      
    .wrap-header
      width 1300px !important
      margin 0 auto
      .nav
        display flex !important
        
    .wrap
      width 1300px
      padding 0px 30px 0 30px
      margin 0 auto
      //box-shadow 0px 0px 5px grey
    
    .featured
      //margin 15px auto 70px auto
      padding 1px
      display flex
      width 1300px
      height 487px
      color white
    
      &-main
        width 866px
        &-article
          width 100%
          height 100%
          overflow hidden
          position relative
          &-image
            margin 0 
            img
              width 100%
              height auto !important
            
          &-bottom
            position absolute
            bottom 0
            width 100%
            //height 20%
            background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
            text-align left
            font-weight 500 !important
            font-size 26px
            color white
            p
              padding-top 20px
              //text-transform uppercase
              //position absolute
              //bottom 0
              margin 0 0 15px 18px
              color white
    
      &-secondary
        width 434px
        &-article
          height 100%
          overflow hidden
          position relative
          &-image
            margin 0
            height 100%
            img
              width 100%
              height auto !important
          &-bottom
            position absolute
            bottom 0
            width 100%
            //height 30%
            background linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 16%, rgba(0,0,0,1) 100%)
            text-align left
            font-weight 400
            font-size 20px
            p
              padding-top 20px
              //text-transform uppercase
              //position absolute
              //bottom 0
              margin 0 0 10px 10px
    
    .featured-articles
      width 100%
    .article-wrapper 
      display flex
      flex-wrap wrap
      justify-content space-between
      width 100%
      .article
        width 420px !important
        //align-self auto
        margin 10px 0px
        max-height 461px
        min-height 154px

    .article-info
      padding 7px 0
      font-weight 600
      color #4D4D4D
      font-size 17px
      &-cat
        margin 0
        margin-left 10px
      &-date
        margin 0
        margin-right 10px
    .article-thumb
      margin 0
      width 100%
      img
        width 100%
        height auto
    .article-content
      margin 8px 10px
      &-container
        &-title
          margin 0
          font-weight 500
          font-size 20px


@import 'single.styl'

@import 'author.styl'

.alignright, .alignright {
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
}

.alignleft, a .alignleft {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
}

.aligncenter, a .aligncenter {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 1em;
}